import(GWASTools)
import(IRanges)
import(S4Vectors)
import(GenomicRanges)
importFrom(gplots, plotCI) # used in boxplotMeanSD
import(BiocGenerics)
import(Biobase)
import(Biostrings)
import(tools)
import(GWASExactHW)
import(gdsfmt)
import(reshape2) # used in defineExomeVars, possibly other future functions
importFrom(rtracklayer, liftOver, import.chain) # used in convertBuild
importFrom(stringr, str_sub, str_locate_all, str_replace_all, "str_sub<-") # used in checkABalleles, laiDosageFile


export(readConfig, writeConfig, setConfigDefaults,
       boxplotMeanSD, plot2DwithHist, bestLegendPos,
       dbgapScanAnnotation, dbgapSnpAnnotation,
       make.allele.mappings, make.allele.annotation,
       defineFamilies,
       GenotypeReader, IntensityReader,
       plateLayoutPlot,
       findRelSet,
       hweSimulate,
       hweSimulateGenotypeMatrix,
       quadSolveMAF,
       qqPlotPng, manhattanPlotPng,
       gdsCombine, checkGdsCombine,
       gdsMerge, gdsMergeCheck,
       getSnpNames, readSnpTable,
       convertBuild, checkABalleles,
       chromToChar, chromToInt,
       gdsUpdateBuild,
       filterImputationSegments,
       getAnomSegOverlap,
       calculateLambda,
       defineDupVars,
       defineExomeVars, getTxDb,
       laiDosageFile, checkLaiDosageFile
       )
