import(GWASTools)
import(IRanges)
import(GenomicRanges)
importFrom(gplots, plotCI) # used in boxplotMeanSD
import(grid)
import(gridBase)
import(hexbin)
import(BiocGenerics)
import(Biostrings)
import(tools)
import(SRAdb)
import(GWASExactHW)
importFrom(rtracklayer, liftOver, import.chain) # used in convertBuild
importFrom(stringr, str_sub) # used in checkABalleles


export(readConfig, writeConfig, setConfigDefaults,
       boxplotMeanSD, plot2DwithHist, bestLegendPos,
       dbgapScanAnnotation, dbgapSnpAnnotation,
       make.allele.mappings, make.allele.annotation,
       defineFamilies, igvBatch, igvPlot,
       GenotypeReader, IntensityReader,
       plateLayoutPlot,
       findRelSet,
       hweSimulate,
       hweSimulateGenotypeMatrix,
       quadSolveMAF,
       qqPlotPng, manhattanPlotPng,
       gdsMerge, gdsMergeCheck,
       getSnpNames, readSnpTable,
       convertBuild, checkABalleles,
       chromToChar, chromToInt,
       gdsUpdateBuild,
       filterImputationSegments,
       getAnomSegOverlap,
       calculateLambda
       )
