# scan annotation
annot_scan_file illumina_scan_annot.RData

# snp annotation
annot_snp_file illumina_snp_annot.RData
annot_snp_rsIDCol rsID
# quality.filter variable in snp annotation
annot_snp_filtCol quality.filter

# netCDF or GDS
geno_file illumina_geno_subj.nc
samp_geno_file illumina_geno.nc
samp_xy_file illumina_qxy.nc

# sample/subject chromosome filter - optional, generally netCDF is filtered instead
#scan_chrom_filter jcmat.RData

# outcome variable. 0 for controls and 1 for cases for logistic regression
outcome "status status"

# covariate list in regression models saved as Rdata 
# e.g. covar.list <- list(c("sex", "race"), c("sex", "race"))
covar.list assoc/assoc.models.RData

# interaction variable list in regression models saved as Rdata 
# e.g. ivar.list <- list(c("sex", "race"), c("sex", "race"))
# NA or missing for no GxE interaction
ivar.list assoc/assoc.interaction.RData

# covariates to be cast as factors, quoted and space delimited 
covars_as_factor "sex race"

# model types: logistic or linear
model_type "logistic logistic"

# gene actions. mostly additive
gene_action "additive additive"

# scanIDs to be excluded. NA for none
scan_exclude NA

# path and prefix for association results
#############################################################
# CHANGE PREFIX FOR EACH SUBSET OF DATA TO AVOID OVERWRITING#
#############################################################
out_assoc_prefix assoc/study

# path and prefix for qq and manhattan plots
#############################################################
# CHANGE PREFIX FOR EACH SUBSET OF DATA TO AVOID OVERWRITING#
#############################################################
out_plot_prefix assoc/study

# integer vector of chromosomes to plot. NA if plotting all chromosomes in combined output
plot_chroms assoc/plotchroms.RData

# MAF filter to apply to plots
# type: "absolute" or "snp.specific"
maf.filter.type snp.specific
maf.absolute.threshold 0.02
# 2*MAF*(1-MAF)*N > 30, where N is the sample size 
maf.linear.threshold 30
# 2*MAF*(1-MAF)*N > 50, where N is the number of cases or number of controls, whichever is smaller 
maf.logistic.threshold 50

# genome-wide significance level (for drawing horizontal line on manhattan plot) - default 5e-8
signif_line 5e-8
