# scan annotation
annot_scan_file illumina_scan_annot.RData

# snp annotation
annot_snp_file illumina_snp_annot.RData
annot_snp_rsIDCol rsID

# netCDF
nc_geno_file illumina_geno_subj.nc
nc_geno_file_samp illumina_geno.nc
nc_xy_file_samp illumina_qxy.nc

# covariates to be cast as factors, quoted and space delimited 
covars_as_factor "sex race"

# sample/subject chromosome filter - optional, generally netCDF is filtered instead
#chrom_filter jcmat.RData

# outcome variable. 0 for controls and 1 for cases for logistic regression
outcome "status status"

# covariate list in regression models saved as Rdata 
# e.g. covar.list <- list(c("sex", "race"), c("sex", "race"))
covar.list assoc/assoc.models.RData

# model types: logistic or linear
model_type "logistic logistic"

# gene actions. mostly additive
gene_action "additive additive"

# scanIDs to be excluded. NA for none
scan_exclude NA

# path and prefix for association results
#############################################################
# CHANGE PREFIX FOR EACH SUBSET OF DATA TO AVOID OVERWRITING#
#############################################################
assoc_output assoc/study

# path and prefix for qq and manhattan plots
#############################################################
# CHANGE PREFIX FOR EACH SUBSET OF DATA TO AVOID OVERWRITING#
#############################################################
plot_out assoc/study

# integer vector of chromosomes to plot. NA if plotting all chromosomes in combined output
plot_chroms assoc/plotchroms.RData

# quality.filter variable in snp annotation
quality.filter quality.filter

# MAF filter to apply to plots
maf.filter 0.02

# genome-wide significance level (for drawing horizontal line on manhattan plot) - default 5e-8
signif_line 5e-8
