# scan annotation
annot_scan_file /projects/geneva/gcc-fs2/MitchellPak/samp_snp_annot/mitchellPak_sample_annot_v27.RData

# snp annotation
annot_snp_file /projects/geneva/gcc-fs2/MitchellPak/samp_snp_annot/mitchellpak_Human660W-Quadv1_annot_v10.RData
annot_snp_rsIDCol rsID

# netCDF
nc_geno_file /projects/geneva/gcc-fs2/MitchellPak/netCDF/subjects/mitchellPak.subj.geno.rd2.nc
nc_geno_file_samp /projects/geneva/gcc-fs2/MitchellPak/netCDF/samples/geno/mitchellPak.geno.rd2.nc
nc_xy_file_samp   /projects/geneva/gcc-fs2/MitchellPak/netCDF/samples/qxy/mitchellPak.qxy.rd2.nc

# covariates to be cast as factors, quoted and space delimited 
covars_as_factor "sex ethnicity center"

# sample/subject chromosome filter - optional, generally netCDF is filtered instead
#chrom_filter /projects/geneva/gcc-fs2/MitchellPak/j7shen/results/analysis/filters/samp-chrom-matrix-csv/jcmat.assoc.02.Rdata

# outcome variable. 0 for controls and 1 for cases for logistic regression
outcome "case.cntl case.cntl"

# covariate list in regression models saved as Rdata 
covar.list /projects/geneva/gcc-fs2/MitchellPak/j7shen/results/analysis/assoc/assoc.models.RData

# model types: logistic or linear
model_type "logistic logistic"

# gene actions. mostly additive
gene_action "additive additive"

# scanIDs to be excluded. NA for none
scan_exclude NA

# path and prefix for association results
#############################################################
# CHANGE PREFIX FOR EACH SUBSET OF DATA TO AVOID OVERWRITING#
#############################################################
assoc_output /projects/geneva/gcc-fs2/MitchellPak/j7shen/results/analysis/assoc/study/study

# path and prefix for qq and manhattan plots
#############################################################
# CHANGE PREFIX FOR EACH SUBSET OF DATA TO AVOID OVERWRITING#
#############################################################
plot_out /projects/geneva/gcc-fs2/MitchellPak/j7shen/results/plots/assoc/study/study

# path to chromosomes to plot. NA if plotting all chromosomes in combined output
plot_chroms /projects/geneva/gcc-fs2/MitchellPak/j7shen/results/analysis/assoc/plotchroms.RData

# quality.filter variable in snp annotation
quality.filter quality.filter

# genome-wide significance level (for drawing horizontal line on manhattan plot)
signif_line 5e-8
