# annotation
annot_scan_file illumina_scan_annot.RData
annot_scan_batchCol plate
annot_scan_raceCol race
# autosomal missing call rate
annot_scan_missAutoCol missing.e1
# Y/N for redo plates
annot_scan_redoCol redo
# column to indicate HapMap (1=hapmap, 0=study)
annot_scan_hapmapCol geno.cntl

# vector of scanID to exclude from allele frequency test (NA if none)
# hapmaps will always be excluded
scan_exclude_file scan_exclude.RData

# netCDF or GDS
geno_file illumina_geno.nc

# mean intensity
inten_file mean_inten1.RData

# output for chisq tests
# prefix
out_chisq_file batch_chisq
# plots
out_meanchisq_race_plot batch_meanchisq_race.pdf
out_meanmcr_meanchisq_plot batch_meanmcr_meanchisq.pdf
out_meanchisq_nscan_plot batch_meanchisq_nscan.pdf

# output for fisher tests
# prefix
out_fisher_file batch_fisher
# plots
out_meanor_race_plot batch_meanor_race.pdf
out_meanmcr_meanor_plot batch_meanmcr_meanor.pdf
out_meanor_nscan_plot batch_meanor_nscan.pdf

# output for both
out_hist_plot batch_nscan_hist.pdf
out_lambda_race_plot batch_lambda_race.pdf
out_meanmcr_nscan_plot batch_meanmcr_nscan.pdf
out_mcr_plot batch_mcr.pdf
out_inten_plot batch_chr1inten.pdf
