# annotation
annot_scan_file illumina_scan_annot.RData
annot_scan_batchCol plate
annot_scan_raceCol race
annot_scan_missAutoCol missing.e1
scan_exclude_file scan_exclude.RData

# netCDF
nc_geno_file illumina_geno.nc

# mean intensity
inten_file mean_inten.RData

# output
out_chisq_file batch_chisq

out_hist_plot scans_per_plate.pdf
out_meanchisq_race_plot batch_meanchisq_race.pdf
out_lambda_race_plot batch_lambda_race.pdf
out_hist_plot batch_hist.pdf
out_meanmcr_nscan_plot batch_meanmcr_nscan.pdf
out_meanmcr_meanchisq_plot batch_meanmcr_meanchisq.pdf
out_mcr_plot batch_mcr.pdf
out_inten_plot batch_chr1inten.pdf
