# annotation
annot_scan_file illumina_scan_annot.RData
annot_scan_batchCol plate
annot_scan_raceCol race
# autosomal missing call rate
annot_scan_missAutoCol missing.e1
# Y/N for redo plates
annot_scan_redoCol redo

# vector of scanID to exclude (assume none if not given)
scan_exclude_file scan_exclude.RData

# netCDF
nc_geno_file illumina_geno.nc

# mean intensity
inten_file mean_inten1.RData

# output for chisq tests
# prefix
out_chisq_file batch_chisq
# plots
out_meanchisq_race_plot batch_meanchisq_race.pdf
out_meanmcr_meanchisq_plot batch_meanmcr_meanchisq.pdf

# output for fisher tests
# prefix
out_fisher_file batch_fisher
# plots
out_meanor_race_plot batch_meanor_race.pdf
out_meanmcr_meanor_plot batch_meanmcr_meanor.pdf

# output for both
out_hist_plot scans_per_plate.pdf
out_lambda_race_plot batch_lambda_race.pdf
out_meanmcr_nscan_plot batch_meanmcr_nscan.pdf
out_mcr_plot batch_mcr.pdf
out_inten_plot batch_chr1inten.pdf
