# find anomalies for pseudoautosomal region?
chromXY TRUE

# genome build
build 36

# project (prepend to output files)
project HapMap

# annotation
annot_scan_file illumina_scan_annot.RData

# vector of scanID to exclude (assume none if not given)
scan_exclude_file scan_exclude.RData

annot_snp_file illumina_snp_annot.RData
annot_snp_missingCol missing.n1
annot_snp_IntensityOnlyCol IntensityOnly

# netCDF
nc_geno_file illumina_geno.nc
nc_bl_file illumina_bl.nc

# output
out_baf_sd_file baf_sd_by_scan_chrom.RData
out_baf_mean_file baf_mean_by_scan_chrom.RData
out_baf_med_file median_baf_sd_by_scan.RData

out_anom_dir chrom_anomalies/data
out_plot_dir chrom_anomalies/plots
out_plot_prefix HapMap_long_plot
out_plot_win 1
