# annotation
annot_scan_file illumina_scan_annot_5.RData

# scan name in raw data files
annot_scan_nameCol genoRunID

# raw data filename for each scan
annot_scan_fileCol file

annot_snp_file illumina_snp_annot.RData

# snp name in raw data files
annot_snp_nameCol rsID

# data columns
raw_path illumina_raw_data
raw_skipNum 11
raw_colTotal 21
raw_scanNameInFile 1
raw_sepType ","
raw_snpCol 1
raw_sampleCol 2
raw_qCol 5    
# specify nucleotide coding if genoCol or a1Col,a2Col have A,C,G,T values instead of A,B
# snp annotation must have columns "alleleA", "alleleB"
raw_alleleCoding nucleotide   
raw_a1Col 10
raw_a2Col 11
#raw_alleleCoding AB 
#raw_a1Col 12
#raw_a2Col 13
# use genoCol instead of a1Col, a2Col for diploid genotype column
raw_genoCol NA
raw_xCol 16
raw_yCol 17
raw_bafCol 20
raw_lrrCol 21

# array info
array_name Human1Mv_C
array_build 36/hg18

# output
geno_file tmp_geno.gds
geno_file_type gds
geno_diagFile tmp_geno_diag.RData
geno_checkFile tmp_geno_check.RData

xy_file tmp_xy.gds
xy_file_type gds
xy_diagFile tmp_xy_diag.RData
xy_checkFile tmp_xy_check.RData

bl_file tmp_bl.gds
bl_file_type gds
bl_diagFile tmp_bl_diag.RData
bl_checkFile tmp_bl_check.RData

# required for plink_check, otherwise optional
plink_prefix  NA

# alternate snp annotation file to compare to PLINK 
# (data.frame with snpID, chromosome, position, rsID)
annot_plink_alt map_alt.RData
