annot_scan_file_1  illumina_scan_annot.RData
annot_snp_file_1   illumina_snp_annot.RData
geno_file_1        illumina_geno.gds

annot_scan_file_2  affy_scan_annot.RData
annot_snp_file_2   affy_snp_annot.RData
geno_file_2        affy_geno.gds

match_snps_on	   position,alleles

out_prefix         ilm_affy_disc
