orig_annot_scan_file		Prepfiles/olga_test_scan_annotation.RData

# for making the "non-imputed" and "failed" files
orig_gds_file				/projects/geneva/gcc-fs2/OLGA/genotype_data/netCDF/subjects/OLGA_subj_geno.gds

orig_annot_snp_file			/projects/geneva/gcc-fs2/OLGA/genotype_data/sample_snp_annot/SoL_HCHS_Custom_15041502_B3_all37_v18_AMS.RData

# impute2 results
impute2_sample_prefix		/projects/geneva/gcc-fs2/OLGA/genotype/imputed1/imputation/imputedTest_analysis/phased/OLGAtest
impute2_geno_prefix			/projects/geneva/gcc-fs2/OLGA/genotype/imputed1/imputation/imputedTest_analysis/imputed/combined/OLGAtest
metrics_path				/projects/geneva/gcc-fs2/OLGA/genotype/imputed1/imputation/imputedTest_analysis/metrics/combined/OLGAtest

snp_segment_mapping_file	/projects/geneva/gcc-fs2/OLGA/genotype/imputed1/imputation/dbGaP_doctn/imputation_segments.csv

# snps to include from original data
snp_include_other		Prepfiles/snp_include_other.RData
snp_include_failed		Prepfiles/snp_include_failed.RData

# gds files to create (prefix only - code will append _chr??.gds)
out_gds_dir					gds
out_gds_prefix				OLGA_test

# quality metric cutoff?
quality_name				info
quality_minimum				0

# required to match first two columns of imputed files
# for OLGA, imputed data has the family has the subjectID, not the gcc-defined family?
scan_annot_familyCol		family
scan_annot_individCol		subjectID
