# netCDF
geno_file illumina_geno.nc
xy_file illumina_qxy.nc
bl_file illumina_bl.nc

# output
out_het_file het_by_scan.RData
out_inten_file mean_inten.RData

# annotation
annot_scan_file illumina_scan_annot.RData
# column with annotated sex to check (coded M/F/NA)
annot_scan_sexCol sex
# CIDR comment
annot_scan_commentCol Comment
# local scanID
annot_scan_localIDCol CoriellID

annot_snp_file illumina_snp_annot.RData
annot_snp_IntensityOnlyCol IntensityOnly

# genome build for drawing pseudoautosomal regions on sex chrom anom plots
# hg18 or hg19
build hg18

# plot
out_pdf gender_check.pdf
# sex chrom anomaly plots
out_sexchrom_prefix sexchrom_anom
# autosome plots - makes autosome_1.png, autosome_2.png, etc.
out_autosome_prefix autosome
