# annotation
annot_scan_file illumina_scan_annot.RData

# vector of scanID to include in HWE
# controls and single PCA-defined ethnic groups only
scan_include_file ceu.RData

# scan-chromosome filter - optional, generally netCDF is filtered instead
#scan_chrom_filter jcmat.RData

annot_snp_file illumina_snp_annot.RData
annot_snp_missingCol missing.n1
annot_snp_rsIDCol rsID

# netCDF
nc_geno_file illumina_geno_subj.nc
nc_samp_geno_file illumina_geno.nc
nc_samp_xy_file illumina_qxy.nc

# output
out_hwe_prefix hwe_ceu
out_qq_plot hwe_ceu_qq.png
out_inbrd_plot hwe_ceu_inbrd.pdf
out_maf_plot hwe_ceu_maf.png
out_clust_prefix hwe_ceu_cluster
