# method - MoM or MLE
ibd_method MoM

# annotation
annot_scan_file illumina_scan_annot.RData
annot_scan_subjectCol subjectID

# vector of scanID to include in LD pruning (assume all if not given)
scan_pruning_include_file scan_ibd.RData

# vector of scanID to include in IBD (assume all if not given)
scan_ibd_include_file scan_ibd.RData

# expected relationships (assume none if not given)
exp_rel_file expected_rels.RData

# GDS
gds_geno_file illumina_geno.gds

# output
# vector of pruned SNPs
# this file will only be created if it does not already exist
out_snp_file ibd_snp_sel.RData

# full IBD results
out_ibd_file ibd.RData

# data frame of results with KC > 1/32 only
out_ibd_kc32_file ibd_kc32.RData

# ibd_kc32 with expected and observed relationships annotated
out_ibd_rel_file ibd_obsrel.RData

# expected relationships not observed
out_ibd_unobs_rel_file ibd_unobs_rel.RData
out_ibd_unobs_dup_file ibd_unobs_dup.RData

out_ibd_con_file ibd_connectivity.RData

# IBD plots
out_ibd_exp_plot ibd_expected.pdf
out_ibd_obs_plot ibd_observed.pdf
out_ibd_unexp_plot ibd_unexpected.pdf
out_ibd_con_plot ibd_connectivity.pdf

# inbreeding coefficients by sample
out_inbrd_file inbreed_coeff.RData
