# method
ibd_method MoM # or MLE

# annotation
annot_scan_file illumina_scan_annot.RData
annot_scan_subjectCol subjectID
scan_exclude_file scan_exclude.RData
scan_ibd_include_file scan_ibd.RData

annot_snp_file illumina_snp_annot.RData
annot_snp_missingCol missing.n1

# expected relationships
exp_rel_file expected_rels.RData

# netCDF
nc_geno_file illumina_geno.nc

# GDS
gds_geno_file illumina_geno.gds

# output
out_afreq_file allele_freq.RData
out_snp_file ibd_snp_sel.RData
out_ibd_file ibd.RData
out_ibd_kc32_file ibd_kc32.RData
out_ibd_rel_file ibd_obsrel.RData
out_ibd_unobs_rel_file ibd_unobs_rel.RData
out_ibd_unobs_dup_file ibd_unobs_dup.RData
out_ibd_con_file ibd_connectivity.RData

out_ibd_exp_plot ibd_expected.pdf
out_ibd_obs_plot ibd_observed.pdf
out_ibd_con_plot ibd_connectivity.pdf

out_inbrd_file inbreed_coeff.RData
