# compute missing.n2, missing.e2
round2 TRUE

# annotation
annot_scan_file illumina_scan_annot.RData

# vector of scanID to exclude (assume none if not given)
scan_exclude_file scan_exclude.RData

annot_snp_file illumina_snp_annot.RData
annot_snp_IntensityOnlyCol IntensityOnly

# netCDF
nc_geno_file illumina_geno.nc

# output
out_n1_file missing.n1.RData
out_e1_file missing.e1.RData
out_n2_file missing.n2.RData
out_e2_file missing.e2.RData

# SNP summary table
out_snp_summary snp_summary.RData

# plots
out_e1_hist missing_e1.pdf
out_e2_hist missing_e2.pdf
