# annotation
annot_scan_file illumina_scan_annot.RData

# netcdf
nc_file illumina_geno.nc

# vector of scanID to include
scan_include_file subj_plink.RData

# data frame of chromosome anomalies
# required columns: scanID, chromosome, left.base, right.base, whole.chrom
# whole.chrom is a logical indicating if the entire chromosome is to be filtered
# (in which case left.base and right.base are ignored)
# note that this should contain only anomalies to be filtered (set to missing)
# and is likely a subset of the results of the chrom_anomalies pipeline
chrom_anom_file long_anomalies.RData

# output
nc_subset_file tmp_subj_geno.nc
