# annotation
annot_scan_file illumina_scan_annot_5.RData

# scan name in raw data files
annot_scan_nameCol genoRunID

# raw data filename for each scan
annot_scan_fileCol file

annot_snp_file illumina_snp_annot.RData

# snp name in raw data files
annot_snp_nameCol rsID

# snp annotation for making GDS
annot_snp_rsIDCol rsID
annot_snp_alleleACol alleleA
annot_snp_alleleBCol alleleB

# data columns
raw_path illumina_raw_data
raw_skipNum 11
raw_colTotal 21
raw_scanNameInFile 1
raw_sepType ","
raw_snpCol 1
raw_sampleCol 2
raw_a1Col 12
raw_a2Col 13
raw_qsCol 5
raw_xCol 16
raw_yCol 17
raw_bafCol 20
raw_lrrCol 21

# array info
array_name Human1Mv_C
array_build 36/hg18

# output
nc_geno_file tmp_geno.nc
nc_geno_diagFile tmp_geno_diag.RData
nc_geno_checkFile tmp_geno_check.RData

nc_qxy_file tmp_qxy.nc
nc_qxy_diagFile tmp_qxy_diag.RData
nc_qxy_checkFile tmp_qxy_check.RData

nc_bl_file tmp_bl.nc
nc_bl_diagFile tmp_bl_diag.RData
nc_bl_checkFile tmp_bl_check.RData

gds_geno_file tmp_geno.gds
