# filter Y chromosome for females?
filterYinF TRUE

# annotation
annot_scan_file illumina_scan_annot.RData

annot_snp_file illumina_snp_annot.RData

# netcdf
nc_file illumina_geno.nc

# vector of scanID to include (NA to use all scans, e.g. for filtering only)
scan_include_file subj_plink.RData

# data frame of chromosome anomalies
# required columns: scanID, chromosome, left.base, right.base, whole.chrom
# whole.chrom is a logical indicating if the entire chromosome is to be filtered
# (in which case left.base and right.base are ignored)
# note that this should contain only anomalies to be filtered (set to missing)
# and is likely a subset of the results of the chrom_anomalies pipeline
chrom_anom_file long_anomalies.RData

# snp annotation for making GDS
annot_snp_file illumina_snp_annot.RData
annot_snp_rsIDCol rsID
annot_snp_alleleACol alleleA
annot_snp_alleleBCol alleleB

# output - subset of nc_file
nc_geno_file tmp_subj_geno.nc
gds_geno_file tmp_subj_geno.gds
