# genome build (hg18 or hg19) - used to select SNP regions to filter
build hg18

# dataset 1 
# annotation
annot_scan_file illumina_scan_annot.RData
annot_scan_subjectCol CoriellID
annot_scan_raceCol race
annot_scan_ethnCol ethnicity
# column to indicate HapMap (1=hapmap, 0=study)
annot_scan_hapmapCol geno.cntl
# column with TRUE to select unrelated samples (including HapMaps)
annot_scan_unrelCol unrelated

# vector of scanID - unrelated study samples
# determines which scans are used for LD pruning and study-only PCA
# no hapmaps here
study_unrelated_file study_unrelated.RData

# vector of scanID - unique study samples
# determines which scans are used for combined PCA
# unrelated hapmaps will also be included
study_unduplicated_file subj_plink.RData

annot_snp_file illumina_snp_annot.RData
annot_snp_rsIDCol rsID

# GDS - can be subject-level 
# (recommended to run PCA with chromosome anomalies filtered)
gds_geno_file illumina_geno_subj.gds

# dataset 2 - needed if running PCA in 'combined' mode
ext_annot_scan_file affy_scan_annot.RData
ext_annot_scan_subjectCol CoriellID
ext_annot_scan_raceCol race
ext_annot_scan_unrelCol unrelated
ext_annot_snp_file affy_snp_annot.RData
ext_annot_snp_rsIDCol rsID
ext_nc_geno_file affy_geno.nc

# vector of scanID to exclude from combined GDS (study and/or external)
comb_scan_exclude_file comb_scan_exclude.RData

# vector of snpID to exclude from combined GDS (snpIDs from annot_snp_file)
comb_snp_exclude_file comb_snp_exclude.RData

# LD pruning parameters
# r (0.32 gives r^2=0.1)
ld_r_threshold 0.32
# sliding window size in Mb
ld_win_size 10

# vector of snpID to include for LD pruning
# if NA all SNPs are included.
snp_pruning_include_file NA

# output
# combined only
out_comb_gds_geno_file comb_geno.gds
out_comb_annot_scan_file comb_scan_annot.RData
out_comb_annot_snp_file comb_snp_annot.RData
out_disc_file discord.RData
out_disc_plot discord.pdf

# vector of pruned SNPs
# this file will only be created if it does not already exist
out_pruned_file snps_pruned.RData

out_pca_file pca.RData
out_corr_file pca_corr.RData
out_pairs_plot pca_pairs.png
out_ev12_plot pca_ev12.pdf
out_ev12_plot_hapmap pca_ev12_hapmap.pdf
out_ev12_plot_study pca_ev12_study.pdf
out_corr_plot_prefix pca_corr
out_corr_pruned_plot_prefix pca_corr_pruned
out_dens_plot pca_dens.pdf
out_scree_plot pca_scree.pdf
out_parcoord_plot pca_parcoord.pdf

# variables in scan annotation to use for parallel coordinates plot, separated by spaces
# note, only 9 unique values are allowed in each of the variables due to auto color selection
# these plots are made in the study run only, not the combined run
# do not include race, as that parallel coordinates plot will always be generated
parcoord_vars	"plate status"
out_parcoord_var_prefix pca_parcoord

# plot colors for each race
# race=NA will be black
CEU blue
YRI red
Unknown black

# plot symbols for each ethnicity
# ethnicity=NA will be 1
hisp 4
not_hisp 1

# number of eigenvectors to plot for correlation and scree plots
num_evs_to_plot 12
