# dataset 1 
# annotation
annot_scan_file illumina_scan_annot.RData
annot_scan_subjectCol CoriellID
annot_scan_raceCol race

# vector of scanID - unrelated study samples
# determines which scans are used for LD pruning and study-only PCA
study_unrelated_file study_unrelated.RData

# vector of scanID - unique samples
# determines which scans are used for combined PCA
study_unduplicated_file study_unduplicated.RData

annot_snp_file illumina_snp_annot.RData
annot_snp_missingCol missing.n1
annot_snp_rsIDCol rsID

# netCDF
nc_geno_file illumina_geno.nc

# dataset 2
ext_annot_scan_file affy_scan_annot.RData
ext_annot_scan_subjectCol CoriellID
ext_annot_scan_raceCol race
ext_annot_scan_unrelCol unrelated
ext_annot_snp_file affy_snp_annot.RData
ext_annot_snp_rsIDCol rsID
ext_nc_geno_file affy_geno.nc

# GDS
gds_geno_file illumina_geno.gds
ext_gds_geno_file affy_geno.gds
comb_gds_geno_file comb_geno.gds

# output
out_disc_file discord.RData
out_disc_plot discord.pdf
out_pruned_file snps_pruned.RData

# combined PCA output
out_comb_pca_file pca_combined.RData
out_comb_corr_file pca_combined_corr.RData
out_comb_pairs_plot pca_combined_pairs.png
out_comb_ev12_plot pca_combined_ev12.pdf
out_comb_corr_plot_prefix pca_combined_corr

# single PCA output
out_pca_file pca_study.RData
out_corr_file pca_study_corr.RData
out_pairs_plot pca_study_pairs.png
out_ev12_plot pca_study_ev12.pdf
out_corr_plot_prefix pca_study_corr
out_dens_plot pca_study_dens.pdf

# colors for each race
CEU blue
YRI red
