annot_scan_file				illumina_scan_annot_well.RData

# IBD observed relatives to determine unexpected duplicates
ibd_obsrel_file				ibd_obsrel.RData

# IBD unexpected duplicates file to label unexpected duplicates -- optional
ibd_unobs_dup_file			ibd_unobs_dup.RData

annot_scan_subjectCol		subjectID

# genetic sex
annot_scan_sexCol			sex

# annotated sex, if there are sex mismatches. If not present, use the same as "sex"
annot_scan_annotSexCol	annot.sex
# label used in annotated sex column for male, female, and unknown
annot_scan_annotSexMale		M
annot_scan_annotSexFemale 	F
# can be set to NA
annot_scan_annotSexUnknown	NA

annot_scan_plateCol			plate
annot_scan_wellCol			well

min_num_problems			1

out_plate_plot				plate_layout.pdf
out_plate_file				plate_layout.RData

out_annot_file				out_scan_annot.RData
