# scan annotation
# should have columns "family", "father", "mother", "sex", "subj.plink"
annot_scan_file illumina_scan_annot.RData
annot_scan_subjectCol subjectID

# snp annotation
annot_snp_file illumina_snp_annot.RData
annot_snp_rsIDCol rsID
annot_snp_alleleACol alleleA
annot_snp_alleleBCol alleleB

# netCDF
# sample level - will make unfiltered plink file from this ncdf with only scans in subj.plink
nc_samp_geno_file illumina_geno.nc
# subject-level - will make filtered plink file from this ncdf
nc_subj_geno_file illumina_geno_subj.nc

# output
# prefix will be appended with .ped, _filtered.ped
out_plink_prefix HapMap_TOP_subject_level
# prefix will be appended with .log, _filtered.log
out_log_prefix HapMap_plink
