# annotation
annot_scan_file illumina_scan_annot.RData
annot_scan_raceCol race
# if there is a race category corresponding to unknown or missing, list it here
race_unknown "Unknown"
# should all "unknown" samples be plotted (TRUE, recommended for a smaller number of samples), 
# or should "unknown" be treated as a separate race category with only outliers plotted 
# (FALSE, recommended when there are a large number of unknown samples)
# this parameter is ignored if race_unknown is missing or NA
plot_all_unknown TRUE
# multiple of interquartile range for selecting SD outliers (default 1.5)
range_sd 1.5
# multiple of interquartile range for selecting het outliers (default 1.5)
range_het 1.5

# autosomal heterozygosity
annot_scan_hetACol het.A

annot_snp_file illumina_snp_annot.RData
annot_snp_missingCol missing.n1

# netCDF or GDS
bl_file illumina_bl.nc

# BAF SD and mean
baf_sd_file baf_sd_by_scan_chrom.RData
baf_mean_file baf_mean_by_scan_chrom.RData

# vector of scanID with high IBD connectivity
ibd_con_file ibd_hi_con.RData

# output
# boxplots
# BAF SD outliers
out_baf_sd_boxplot baf_sd.pdf
out_het_boxplot het_outl.pdf

# list of flagged scans in each category
out_flagged_file qual_check.RData

# prefix for baf/lrr plots
out_plot_prefix qual_check

# prefix for baf denisty plots
out_baf_density_prefix baf_density

