# annotation
annot_scan_file illumina_scan_annot.RData
annot_scan_raceCol race
# autosomal heterozygosity
annot_scan_hetACol het.A

annot_snp_file illumina_snp_annot.RData
annot_snp_missingCol missing.n1

# netCDF
nc_bl_file illumina_bl.nc

# BAF SD and mean
baf_sd_file baf_sd_by_scan_chrom.RData
baf_mean_file baf_mean_by_scan_chrom.RData

# vector of scanID with high IBD connectivity
ibd_con_file ibd_hi_con.RData

# output
# BAF SD outliers
out_baf_sd_boxplot baf_sd.pdf
out_baf_sd_outliers baf_sd_outl.RData
out_baf_sd_plot_prefix baf_sd_outl

# asymmetry > 0.05
out_baf_asym baf_aysm.RData
out_baf_asym_plot_prefix baf_asym

# heterozygosity outliers
out_het_boxplot het_outl.pdf
out_het_outliers het_outl.RData
out_het_plot_prefix het_outl

# IBD connectivity
out_ibd_plot_prefix high_con
