# compute correlation by SNP?
# this step is slow, as it loops over SNPs
corr.by.snp TRUE

# MAF bin for plotting results by MAF
maf.bin 0.01

# bins to make cluster plots of Mendelian errors (optional)
# the following example will make bins of 0, 1-5, and 6-10 errors
mend.bin.start "0 1 6"
mend.bin.end "0 5 10"

# annotation
annot_scan_file illumina_scan_annot.RData
annot_scan_subjectCol subjectID
# column to indicate HapMap for plotting (1=hapmap, 0=study)
annot_scan_hapmapCol geno.cntl

# vector of scanID to exclude (assume none if not given)
# allele frequency (duplicates, no.post, hapmaps)
scan_exclude_file scan_exclude.RData
# duplicate discordance (no.post)
disc_scan_exclude_file scan_exclude.RData
# mendelian errors (no.post)
mend_scan_exclude_file scan_exclude.RData
# duplicate SNPs (duplicates, no.post, hapmaps)
dupsnp_scan_exclude_file scan_exclude.RData

annot_snp_file illumina_snp_annot.RData
annot_snp_missingCol missing.n1
annot_snp_rsIDCol rsID
# column for duplicate SNP ids (NA if none)
annot_snp_dupSnpCol dup.any.id

# netCDF or GDS
geno_file illumina_geno.nc
geno_subj_file illumina_geno_subj.nc
xy_file illumina_qxy.nc

# output
# matrix of allele frequency (M, F, all)
out_afreq_file allele_freq.RData

out_disc_file dup_disc.RData
out_disc_plot dup_disc.pdf
out_snp_conc_plot snp_conc.pdf
out_snp_corr_plot snp_corr.pdf
out_maf_plot maf_hist.pdf
out_maf_autosomes_plot maf_aut_hist.pdf
out_maf_xchrom_plot maf_x_hist.pdf

out_disc_maf_file dup_disc_maf.RData
out_ma_conc_plot snp_ma_conc.pdf

out_mend_file mendel_err.RData
# cluster plots for mendelian errors (optional)
out_mend_clust_prefix mendel_clust

out_dupsnp_file dup_snps.RData
