# annotation
annot_scan_file illumina_scan_annot.RData
annot_scan_subjectCol subjectID

# vector of scanID to exclude (assume none if not given)
scan_exclude_file scan_exclude.RData

annot_snp_file illumina_snp_annot.RData
annot_snp_missingCol missing.n1

# netCDF
nc_geno_file illumina_geno.nc

# output
out_disc_file dup_disc.RData
out_disc_plot dup_disc.pdf
