# annotation
annot_scan_file affy_scan_annot.RData
annot_scan_subjectCol subjectID
# column to indicate HapMap (1=hapmap, 0=study)
annot_scan_hapmapCol geno.cntl

# vector of scanID to exclude (assume none if not given)
# allele frequency (duplicates, no.post, hapmaps)
scan_exclude_file affy_exclude.RData
# duplicate discordance (no.post)
disc_scan_exclude_file affy_exclude.RData
# mendelian errors (no.post)
mend_scan_exclude_file affy_exclude.RData

annot_snp_file affy_snp_annot.RData
annot_snp_missingCol missing.n1

# netCDF
nc_geno_file affy_geno.nc

# output
# matrix of allele frequency (M, F, all)
out_afreq_file allele_freq.RData

out_disc_file dup_disc.RData
out_disc_plot dup_disc.pdf

out_mend_file mendel_err.RData
