# filter Y chromosome for females?
filterYinF TRUE

# annotation
annot_scan_file illumina_scan_annot.RData

# input file (nc or gds)
in_file illumina_geno.nc

# vector of scanID to include (NA to use all scans, e.g. for filtering only)
scan_include_file subj_plink.RData

# data frame of chromosome anomalies
# required columns: scanID, chromosome, left.base, right.base, 
# optional columns: whole.chrom, filter
# whole.chrom is a logical indicating if the entire chromosome is to be filtered
# (in which case left.base and right.base are ignored)
# filter is a logical indicating which anomalies should be filtered
# (if there is no column called "filter", all anomalies are filtered)
chrom_anom_file long_anomalies.RData

# output - subset of in_file
out_file tmp_subj_geno.nc
